<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gradient</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <section class="header">
        <ul class="menu">
            <li class="logo" style="float: left"><img id="cartIcon" src="img/logo.png" style="width: 324px; height: 68px;"></li>
            <li><a href="#"><img id="cartIcon" src="img/cart.png">My cart</a></li>
        </ul>
    </section>
    <section class="home">
        <div>
            <h1>THIS IS PHONE SHOP</h1>
            <br>
            <p>The brightest online shop for smartphones</p>
            <br>
            <div class="buttons">
            <button class="leftButton">VIEW ALL PHONES</button><button class="rightButton">ABOUT US</button>
            </div>
        </div>
    </section>


    <section class="topics">
        <div id="allPhones"></div>

        <script id="phoneElement" type="text/template">
              <a href="#<%= link %>"><img src="<%= img %>" alt="<%= model %>" class="image"/></a>
                <ul>
                    <li class="phoneInfo"><strong>Manufacturer:</strong> <%= manufacturer %></li>
                    <li class="phoneInfo"><strong>Model:</strong> <%= model %></li>
                    <li class="phoneInfo"><strong>Price:</strong> <%= price %></li>
                    <li class="phoneInfo"><strong>Color:</strong> <%= color %></li>
                </ul>
        </script>

    </section>
    <section class="footer">
       <p> Copyright &copy; 2017 Seavus</p>
    </section>


    <script src="js/libs/jquery.js"></script>
    <script src="js/libs/underscore.js"></script>
    <script src="js/libs/backbone.js"></script>

    <script type="text/javascript" src="resource/phonesData.js"></script>

    <script src="js/models/SinglePhoneModel.js"></script> 
    <script src="js/views/SinglePhoneView.js"></script> 
    <script src="js/views/AllPhonesView.js"></script> 
    <script src="js/collections/AllPhonesCollection.js"></script> 
    <script src="js/main/PhoneStoreApp.js"></script>

</body>
</html>